@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500 600;
  font-display: swap;
  src: url('../assets/fonts/manrope-latin-wght-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 600;
  font-display: swap;
  src: url('../assets/fonts/inter-latin-wght-normal.woff2') format('woff2');
}
